<form (submit)="onSaveBook()" [formGroup]="bookForm">
  <div class="mb-2">
    <label for="title" class="form-label">Title:</label>
    <input id="title" class="form-control" formControlName="title"   />
<!--    <div class="invalid-feedback" *ngIf="bookForm.controls.title.errors && bookForm.controls.title.errors['required'] && !bookForm.controls.title.untouched">-->
<!--      Pleade provide a title-->
<!--    </div>-->
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author:</label>
    <input id="author" class="form-control" formControlName="author"  />
<!--    <div class="invalid-feedback" *ngIf="bookForm.controls.author.errors && bookForm.controls.author.errors['required'] && !bookForm.controls.author.untouched">-->
<!--      Pleade provide an author-->
<!--    </div>-->
  </div>
  <div class="mb-3">
    <label for="dateOfPublication" class="form-label">Date of publication:</label>
    <input id="dateOfPublication" class="form-control" formControlName="dateOfPublication" />
<!--    <div class="invalid-feedback" *ngIf="bookForm.controls.dateOfPublication.errors && bookForm.controls.dateOfPublication.errors['required'] && !bookForm.controls.dateOfPublication.untouched">-->
<!--      Pleade provide a date of publication-->
<!--    </div>-->
<!--    <div class="invalid-feedback" *ngIf="bookForm.controls.dateOfPublication.errors && bookForm.controls.dateOfPublication.errors['pattern'] && !bookForm.controls.dateOfPublication.untouched">-->
<!--      Pleade provide a correct date of publication in format YYYY-MM-DD-->
<!--    </div>-->
<!--    <div class="invalid-feedback" *ngIf="bookForm.controls.dateOfPublication.errors && bookForm.controls.dateOfPublication.errors['correctDate'] && !bookForm.controls.dateOfPublication.untouched">-->
<!--      Pleade provide a correct date of publication-->
<!--    </div>-->
<!--    <div class="invalid-feedback" *ngIf="bookForm.controls.dateOfPublication.errors && bookForm.controls.dateOfPublication.errors['dateTo'] && !bookForm.controls.dateOfPublication.untouched">-->
<!--      Pleade provide a date of publication same or before 2030-01-01-->
<!--    </div>-->
  </div>
  <button class="btn btn-primary" [disabled]="bookForm.invalid">Save</button>
</form>
